#p1 {
    color: blue;
}

.p1-class {
    color: red;
    margin-left: 100px;
    border-style: solid;
}

.container {
    padding-left: 50px;
    border-style: solid;
}

.container .div-p { padding-left: 50px;}
.container.tian1 { background-color: green; }
div.container{
    
}
.mouse-hover:hover{
    background-color: red;
    font-size: large;
}